@use "../../../styles/helpers/index" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 24px;
  border-radius: 20px;
  background-color: var(--primary-surface-1);
}

.name {
  @include text-body;
  font-weight: 600;
  text-decoration: underline;
}

.button {
  max-width: 400px;
}

.text {
  @include text-small;
  width: 100%;
  text-align: center;
}
