@use '../../../styles/helpers/index' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
