:root {
  --primary: #7547DD;
  --primary-1: #5F3DBF;
  --primary-surface: #CCB5FF;
  --primary-surface-1: #F0EAFF;
  --primary-surface-2: #D1C1F7;
  --primary-surface-3: #C7AEFF;
  --primary-grey: #F0EDF6;

  --error: #FF4D4F;

  --secondary: #B7D164;
  --secondary-1: #A3C14A;

  --secondary-surface: #E7F0CC;
  --secondary-surface-1: #F4F8E8;
  --secondary-surface-2: #D8E3B7;
  --secondary-surface-3: #E0EFC7;
  --secondary-grey: #F4F8E8;

  --header: #FFF;
  --text: #000;

  --black: #000;
  --white: #FFF;
}
