<table class="criteria-table">
  <thead>
  <tr>
    <th>IsBeneficial</th>
    <th></th>
    <th></th>
    <th>TRUE</th>
    <th>TRUE</th>
    <th>FALSE</th>
    <th>TRUE</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td rowspan="6">Mentor Name</td>
    <td></td>
    <td></td>
    <td>Criteria #1</td>
    <td>Criteria #2</td>
    <td>Criteria #3</td>
    <td>Criteria #4</td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>0.2</td>
    <td>1</td>
    <td>3</td>
    <td>0.33</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>0.16</td>
    <td>0.33</td>
    <td>1</td>
    <td>2</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>0.14</td>
    <td>3</td>
    <td>0.5</td>
    <td>1</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>0.11</td>
    <td>0.14</td>
    <td>0.14</td>
    <td>0.14</td>
  </tr>
  </tbody>
</table>

